<form method="POST" action="">
  <div class="mb-4" >
    <label for="search-input" class="form-label mt-4">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Tìm kiếm ...">
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>